:root {
    --badge-red: #fa004b;
    --badge-yellow: #fbff04;
    --badge-green: #1dd34a;
    --badge-blue: #0486ff;
    --badge-pink: #ff2ea1;
    --badge-purple: #9b0e5c;
    --badge-default: #b6b6b6;
}

.emptyval {
    border-color: red !important;
}
.card {
    cursor: pointer;
}
.list-name {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 25px;
    display: inline-block;
}
.task-list {
    background: #f1f1f1;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}
.handle {
    float: right;
    transform: rotate(90deg);
    font-size: 20px;
    color: #797979;
    cursor: move;
}
.task-list .task {
    display: inline-block;
    min-width: 86%;
    min-height: 20px;
    margin-left: 30px;
    max-width: 86%;
}
.ghost {
    opacity: .5;
    background: rgb(190, 190, 190);
  }
input[type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 20px;
    height: 20px;
    z-index: 100;
}
input[type=checkbox] + .checkbox {
    position: absolute;
}
input[type=checkbox] + .checkbox::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #1984ff;
    left: 0;
    top: 2px;
}

input[type=checkbox] + .checkbox::after {
    position: absolute;
    content: '✓';
    color: #1984ff;
    left: 5px;
    top: -12px;
    font-weight: 600;
    font-size: 25px;
    transform: scale(0);
    transition: all .3s;
}
input[type=checkbox]:checked + .checkbox + .task {
    color: #989898;
}
input[type=checkbox]:checked + .checkbox::after {
    transform: scale(1);
}

input[type=radio]{
    position: absolute;
    left: -9999px;
}
input[type=radio] + label{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #f1f1f1;
    margin-right: 10px;
    cursor: pointer;
}
input[type=radio]#red + label {
    background: var(--badge-red);
}
input[type=radio]#green + label {
    background: var(--badge-green);
}
input[type=radio]#yellow + label {
    background: var(--badge-yellow);
}
input[type=radio]#blue + label {
    background: var(--badge-blue);
}
input[type=radio]#pink + label {
    background: var(--badge-pink);
}
input[type=radio]#purple + label {
    background: var(--badge-purple);
}
input[type=radio]:checked + label {
    border: 2px solid #fff;
}

.btn-success {
    background: #00bbce;
    border-color: #00bbce;
}
.btn-success:hover {
    background: #00ce89;
    border-color: #00ce89;
}
.btn-danger {
    background: #d41a3c;
    border-color: #d41a3c;
}
.btn-warning {
    background: #ff9900;
    border-color: #ff9900;
    color: #fff;
}
.btn-warning:hover {
    color: #fff;
}
.btn-link-danger {
    color: #d41a3c;
}
.navbar-brand {
    text-transform: uppercase;
    letter-spacing: 1px;
}

[data-checked=checked] {
    display: none
}
.tasks-track{
    float: right;
}

#add_badges .modal-content {
    background: #333;
    color: #fff;
}
#add_badges .close {
    color: #fff;
}
#add_badges .modal-header, #add_badges .modal-footer {
    border-color: #5f5f5f;
}

.badge {
    position: relative;
}
.badge .del {
    position: absolute;
    content: '✕';
    color: #000;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.9);
    top: -8px;
    right: -8px;
    font-size: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: all .2s;
}
.badge:hover .del {
    opacity: 1;
}

.badge-red {
    background: var(--badge-red)
}
.badge-yellow {
    background: var(--badge-yellow)
}
.badge-green {
    background: var(--badge-green)
}
.badge-blue {
    background: var(--badge-blue)
}
.badge-pink {
    background: var(--badge-pink)
}
.badge-purple {
    background: var(--badge-purple)
}
.badge-undefined {
    background: var(--badge-default)
}

.emptyval {
    border: 1px solid red;
}